/.idea/
/treinamento-docker-app/.idea/
/treinamento-docker-app/.phpunit.cache/
/treinamento-docker-app/composer.lock
/treinamento-docker-app/var/
/treinamento-docker-app/vendor/
/.phpunit.cache/
/treinamento-docker-app/configs/*.yml
/treinamento-docker-app/configs/*.ini
/treinamento-docker-domain/.idea/
/treinamento-docker-domain/.phpunit.cache/
/treinamento-docker-domain/vendor/

