.env
/app/.idea
/app/.phpunit.cache
/app/var
/app/vendor
/app/.env
/app/.phpunit.result.cache
/app/composer.lock
/app/configs/cache.yml
/app/configs/doctrine.yml
/app/configs/session.ini
/app/configs/slim.yml

/domain/.idea
/domain/.phpunit.cache
/domain/vendor
/domain/.env
/domain/.phpunit.result.cache
/domain/composer.lock

/pratica/.idea/
/pratica2/.idea/
/pratica2/volumes/